
<div class="card">
  <p-table
  [columns]="cols"
  [value]="customers"
  [scrollable]="true"
  scrollHeight="400px"
  [rows]="100"
  [virtualScroll]="true"
  [virtualScrollItemSize]="46"
   [lazy]="true"
   (onLazyLoad)="loadData($event)">
      <ng-template #header let-columns>
          <tr>
              <th *ngFor="let col of columns" style="width: 20%;">
                  {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template #body let-rowData let-columns="columns">
          <tr style="height:46px">
              <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
              </td>
          </tr>
      </ng-template>
      <ng-template #loadingbody let-columns="columns">
          <tr style="height:46px">
              <td *ngFor="let col of columns; let even = even">
                  <p-skeleton [ngStyle]="{'width': even ? (col.field === 'year' ? '30%' : '40%') : '60%'}" />
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>


<p-table
      [value]="customers"
      [lazy]="true"
      (onLazyLoad)="loadData($event)"
      [paginator]="true"
      [rows]="10"
      [totalRecords]="totalRecords"
      [loading]="loading"
    >
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Company</th>
            <th>Representative</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.country.name}}</td>
            <td>{{customer.company}}</td>
            <td>{{customer.representative.name}}</td>
        </tr>
    </ng-template>
</p-table>
